
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar nueva Empresa - Ciclo3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
</head>
<body>

<div class="container">
    <h1> Agregue aqui los datos de Empresa</h1>
    <br>
    <!--Crear formulario para llenar los datos de la empresa y guardarlo en el objeto emp -->
    <form th:action="@{/sfyn/guardarempresa}" th:object="${emp}" method="post">
        <!--Campo para nombre-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="nombreEmpresa">Nombre de la Empresa:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{nombreEmpresa}" class="form-control" id="nombreEmpresa" required="required"></div>
            </div>
        </div>

        <!--Campo para direccion-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="nitEmpresa">Nit de la Empresa:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{nitEmpresa}" class="form-control" id="nitEmpresa" required="required"></div>
            </div>
        </div>

        <!--Campo para telefono-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="tipoEmpresa">Tipo de Empresa:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{tipoEmpresa}" class="form-control" id="tipoEmpresa" required="required"></div>
            </div>
        </div>

        <!--Campo para NIT-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="ciudadEmpresa">Ciudad de la Empresa:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{ciudadEmpresa}" class="form-control" id="ciudadEmpresa" required="required"></div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="direccionEmpresa">Dirección de la Empresa:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{direccionEmpresa}" class="form-control" id="direccionEmpresa" required="required"></div>
            </div>
        </div>

        <!--Campo para direccion-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="telefonoEmpresa">Teléfono de la Empresa:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{telefonoEmpresa}" class="form-control" id="telefonoEmpresa" required="required"></div>
            </div>
        </div>

        <!--Campo para telefono-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="correoEmpresa">Correo de la Empresa:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{correoEmpresa}" class="form-control" id="correoEmpresa" required="required"></div>
            </div>
        </div>


        <!--Boton para enviar todo y ejecutar accion -->
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Crear Empresa</button>
            </div>
        </div>

    </form>

    <br>
    <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>

</div>
</body>
</html>

