<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio de Sesion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
   <div class="model-dialog text-center">
     <div class="col-sm-8">
       <div class="modal-contet">
         <br>
         <img src="/static/sfyn.jpg">
       </div>
       <br>
       <form class="col-12">
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Ingrese su usuario de empleado">
         </div>
         <div class="form-group">
           <input type="password" class="form-control" placeholder="Ingrese su contraseña de empleado">
         </div>
         <button type="submit" class="btn btn-primary">Ingresar</button>
       </form>
       <div class="col-12">
         <a href="#">Recordar mi Contraseña</a>
       </div>
     </div>
   </div>
</body>
</html>