<!DOCTYPE html>
<html lang="en" xmlns:th="http://tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vista</title>
</head>
<body>
<h2>Sistema de gestion de Ingresos y Gastos</h2>
<h2>Usuarios</h2>
<form action="save" method="post">
    <table>
        <tr>
            <td><label for="Nombre">Nombre</label></td>
            <td><input type="text" name="name" ></input></td>
        </tr>
        <tr>
            <td><label for="Correo">Correo</label></td>
            <td><input type="text" name="email" ></input></td>
        </tr>
        <tr>
            <td><label for="Rol">Rol</label></td>
            <td><input type="text" name="email" ></input></td>
        </tr>
        <tr>
            <td><input type="Submit" name="enviar" ></input></td>
        </tr>
